<form class="example-form p-3">
  <mat-card-header>
    <mat-card-title>Registration</mat-card-title>
  </mat-card-header>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter your user name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput
           [formControl]="emailFormControl"
           [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput
           [type]="hide ? 'password' : 'text'">
    <button mat-icon-button
            matSuffix (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter your password opat</mat-label>
    <input matInput
           [type]="hide ? 'password' : 'text'">
    <button mat-icon-button
            matSuffix (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <mat-checkbox>Admin</mat-checkbox>

  <div class="example-button-row">
    <button mat-raised-button
            color="accent"
            routerLink="/login">Lon in
    </button>
    <button mat-raised-button
            color="primary">Sign up
    </button>
  </div>
</form>
