<app-header></app-header>
<h2 class="totalPrice">Total price: {{totalPrice}} $</h2>
<mat-tab-group mat-align-tabs="center"
               color="accent"
               backgroundColor="primary"
               class="my-tab-group">
  <mat-tab label="Your Order">

    <mat-card *ngFor="let dish of orderList$ | async">
      <img mat-card-image src="{{dish.img}}" alt="{{dish.name}}">
      <mat-card-title>{{dish.name}}
        <mat-icon (click)="openInfoDialog(dish)"
                  matTooltip="Show details"
                  color="primary">
          info
        </mat-icon>
      </mat-card-title>
      <mat-card-content>
        <p>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip *ngFor="let ingredient of dish.ingredients">{{ingredient.name}}</mat-chip>
          </mat-chip-list>
        </p>
      </mat-card-content>
      <mat-card-actions>
<!--        <button mat-button class="price">{{dish.price}} $</button>-->
        <button mat-raised-button
                color="warn"
                (click)="deleteFromOrder(dish.id)">-
        </button>
        <button mat-raised-button
                color="accent"
                (click)="addToOrder(dish.id)">+
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
</mat-tab-group>
