<mat-tab-group mat-align-tabs="center"
               color="accent"
               backgroundColor="primary"
               class="my-tab-group">
  <mat-tab *ngFor="let category of categories" label="{{category.name}}">

    <ng-container *ngFor="let dish of dishList$ | async">
      <ng-container *ngIf="dish.category == category.name">
        <mat-card>
          <img mat-card-image src="{{dish.img}}" alt="{{dish.name}}">
          <mat-card-title>{{dish.name}}
            <mat-icon (click)="openInfoDialog(dish)"
                      matTooltip="Show details"
                      color="primary">
              info
            </mat-icon>
          </mat-card-title>
          <mat-card-content>
            <p>
              <mat-chip-list aria-label="Fish selection">
                <mat-chip *ngFor="let ingredient of dish.ingredients">{{ingredient.name}}</mat-chip>
              </mat-chip-list>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="price">{{dish.price}} $</button>
            <button mat-stroked-button
                    color="accent"
                    (click)="addToOrder((dish.id).toString())">Order
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </ng-container>
  </mat-tab>
</mat-tab-group>
