.dish-card {
  max-width: 1fr;
  width: 1fr;
}

:host ::ng-deep .mat-tab-group{
  background-image: url("https://mamamia.ua/img/container_background_dark.jpg");
}

:host ::ng-deep .mat-tab-body-wrapper {
  height: 100%;
  width: 90%;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

:host ::ng-deep .mat-tab-body-content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

:host ::ng-deep .mat-card-image{
  height: 200px;
}

:host ::ng-deep .mat-card-title{
  margin-bottom: 1em;
}

:host ::ng-deep .mat-card-actions{
  text-align: center;
  span{
    margin-right: 0.5em;
    font-size: 1.5em;
  }
}
